@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p class="lead">✨Рада вітати Вас в моєму додатку!✨</p>
    <img src="/images/cat.jpeg" alt="Вітаюче зображення" class="img-fluid" />
</div>

